.datalist-wrapper {
 padding: 20px 20px;
 gap: 20px;
 // height: 500px;
 // background-color: rgba(255, 0, 0, 0.1);
}

.Card-Influencer {
 width: 250px;
 padding-bottom: 20px;
 background-color: #fff;
 border-radius: 12px;
 box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
 position: relative;
}

.bidang-box {
 background-color: #f1f5f9;
 color: #000;
 border-radius: 4px;
 padding: 2px 7px;

}